* {
    font-family: sans-serif;
    margin: 0;
  }
  button {
    height: 40px;
    width: 200px;
  }
  .warning {
    background-color: red;
    text-align: center;
    width: 100%;
    padding: 10px;
  
    font-size: 14pt;
    color: white;
    padding: 25px;
    margin: 25px 0;
  }
  .normal {
    background-color:green;
  }



  .FancyBorder {
    padding: 10px 10px;
    border: 10px solid;
  }
  
  .FancyBorder-blue {
    border-color: blue;
  }
  .FancyBorder-green {
    border-color: green;
  }
  
  .Dialog-title {
    margin: 0;
    font-family: sans-serif;
  }
  
  .Dialog-message {
    font-size: larger;
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }
  
  .Row {
    width: 100%;
    height: 100%;
  }
  
  .Row-left {
    float: left;
    width: 40%;
    height: 100%;
  }
  
  .Row-right {
    float: left;
    width: 60%;
    height: 100%;
  }
  .Header {
    color: white;
    width: 100%;
    height: auto;
    background: greenyellow;
    text-align: center;
    padding: 5px;
  }
  .Contacts {
    width: 100%;
    height: 100%; 
    background: lightblue;
  }
  
  .Chat {
    width: 100%;
    height: 100%; 
    background: pink;
    padding: 0 20px;
  }
body {
    background-image: linear-gradient(to bottom right,#ccffff,#66ffff );
    background-size: cover;
    background-repeat: no-repeat;
}
:root {
  padding: 20px;
}
table, th, td {
  border: 1px solid black;
  margin: 20px 0;
  padding:  5px 30px;
  border-collapse: collapse;
}
input {
  margin: 5px 0;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: red;
  margin-bottom: 10px;
}