* {
    font-family: sans-serif;
    margin: 0;
  }
  button {
    height: 40px;
    width: 200px;
  }
  .warning {
    background-color: red;
    text-align: center;
    width: 100%;
    padding: 10px;
  
    font-size: 14pt;
    color: white;
    padding: 25px;
    margin: 25px 0;
  }
  .normal {
    background-color:green;
  }



  .FancyBorder {
    padding: 10px 10px;
    border: 10px solid;
  }
  
  .FancyBorder-blue {
    border-color: blue;
  }
  .FancyBorder-green {
    border-color: green;
  }
  
  .Dialog-title {
    margin: 0;
    font-family: sans-serif;
  }
  
  .Dialog-message {
    font-size: larger;
  }